// Color Variables
$primary-color: #2663d4;
$text-color: #b4b4b4;
$text-color-dark: #ccc;
$text-color-light: #eaeaea;
$body-color: #151515;
$border-color: #89939b;
$black: #bababa;
$white: #dadada;
$gray: #4a4a4a;

// Font Variables
$primary-font: 'Raleway', sans-serif;
$icon-font: 'themify';